<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p>
        <strong>Your token is:</strong>
        <%= @token %>
      </p>
    </div>
  </body>
</html>