<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial;">
    <p>Hi,</p>
      <p>
        Your password reset token is:
        <strong><%= @token %></strong>
      </p>
    <p>Regards,</p>
    <p>ShiftSwaps Team</p>
  </body>
  <body>
    <div>

    </div>
  </body>
</html>