<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial;">
    <h2 >Welcome To ShiftMarket <%= @user.name %>!</h2>
    <p>You have successfully signed up.</p>
    <p>Thanks for joining and have a great day!</p>
    <p>Regards,</p>
    <p>SM Team</p>
  </body>
</html>