<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial;">
    <p><%= @user.name %>,</p>
    <p>Looks like your email address has already been confirmed.</p>
    <p>If this is not the case, please contact us for support.</p>
    <p>Thanks,</p>
    <p>ShiftSwaps Team</p>
  </body>
</html>
