<nav>
  <ul class="navbar">
    <li class="navbar-item"><%= link_to 'Privacy Policy', root_path %></li>
    <li class="navbar-item"><%= link_to 'How To', support_how_to_path %></li>
    <li class="navbar-item"><%= link_to 'Contact Us', support_contact_us_path %></li>
  </ul>
</nav>
