<% content_for :page_title, "Shift It. Contact Us" %>
<!DOCTYPE html>
<html>
<head>
  <title>Shift It. How to</title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<%= render 'shared/navbar' %>
<body>
  <h1>Contact Us</h1>

  <p>If you have any questions, please contact us at 'shift.it.contact.us@gmail.com'</p>

</body>
</html>
